:root {
  --gradient-background-start: rgb(0, 100, 120);
  --gradient-background-end: rgb(0, 17, 82);
}

body {
  overflow: auto;
  background: linear-gradient(
    40deg,
    var(--gradient-background-start),
    var(--gradient-background-end)
  );
}
