*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(195, 202, 233);
}

h1
{
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}